[submodule "blizzard"]
	path = blizzard
	url = https://github.com/ArcticOJ/blizzard
[submodule "avalanche"]
	path = avalanche
	url = https://github.com/ArcticOJ/avalanche
[submodule "wrapper"]
	path = wrapper
	url = https://github.com/ArcticOJ/wrapper
[submodule "orca"]
	path = orca
	url = https://github.com/ArcticOJ/orca
[submodule "polar"]
    path = polar
    url = https://github.com/ArcticOJ/polar